################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/Todos
/LINQCSharp/ExemploAggregate/temp
/LINQVBNet/.vs/LINQVBNet
/LINQCSharp/.vs/LINQCSharp
/LINQVBNet/ExemploAggregate/temp
/LINQVBNet/ExemploAggregate/bin/Debug
/LINQVBNet/ExemploAggregate/obj
